<h1>My subscriptions</h1>

<h3>Search for Users</h3>
<div id="lookup">
	<%= form_tag search_users_path, remote: true, method: :get, id: "users-lookup-form" do %>
		<div id="users-lookup">
			<%= render partial: "users/lookup" %>
		</div>
	<% end %>
</div>

<div id="results">
	<%= render partial: "users/result" %>
</div>

<% if !current_user.subscriptions.empty? %>
	<br>
	<br>
	<br>
	<p class="lead">Here are the users you follow</p>
	<% current_user.subscriptions.each do |subscription| %>
		<div class="row listing-row col-md-6">
	    <div class="col-md-8">
	    	<strong><%= link_to User.find(subscription.followee_id).full_name, user_path(subscription.followee_id) %></strong>
	    </div>
	    <div class="col-sm-4"><%= link_to "Unfollow user", subscription_path(subscription), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-xs btn-danger" %>
	    </div>
		</div>
	<% end %>
<% else %>
	<div class="row col-md-12">
		<br>
		<br>
		<br>
		<p class="lead">You don't follow anyone yet!</p>
	</div>
<% end %>
